<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/21735bcd-55af-4314-8c2d-d808409c9817/resourcegroups/cloud-shell-storage-eastus/providers/Microsoft.Web/sites/PapaBobsWeb20181115112323</ResourceId>
    <ResourceGroup>cloud-shell-storage-eastus</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://papabobsweb20181115112323.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>papabobsweb20181115112323.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PapaBobsWeb20181115112323</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PapaBobsWeb20181115112323</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PapaBobsDbEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:papabobswebdbserver.database.windows.net,1433;Initial Catalog=PapaBobs030101;User ID=lraulin@papabobswebdbserver;Password=N0r0s#t!" Name="Data Source=tcp:papabobswebdbserver.database.windows.net,1433;Initial Catalog=PapaBobs030101;User Id=lraulin@papabobswebdbserver;Password=N0r0s#t!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\PapaBobsDb.mdf;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PapaBobsDbEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/PapaBobsEntities.csdl|res://*/PapaBobsEntities.ssdl|res://*/PapaBobsEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\PapaBobsDb.mdf;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:papabobswebdbserver.database.windows.net,1433;Initial Catalog=PapaBobs030101;User ID=lraulin@papabobswebdbserver;Password=N0r0s#t!" Name="Data Source=tcp:papabobswebdbserver.database.windows.net,1433;Initial Catalog=PapaBobs030101;User Id=lraulin@papabobswebdbserver;Password=N0r0s#t!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\PapaBobsDb.mdf;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\PapaBobsDb.mdf;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="PapaBobsDbEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/PapaBobsEntities.csdl|res://*/PapaBobsEntities.ssdl|res://*/PapaBobsEntities.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:papabobswebdbserver.database.windows.net,1433;initial catalog=PapaBobs030101;user id=lraulin@papabobswebdbserver;password=N0r0s#t!;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ConnectionString-Web.config Connection String">
      <ParameterValue>data source=tcp:papabobswebdbserver.database.windows.net,1433;initial catalog=PapaBobs030101;user id=lraulin@papabobswebdbserver;password=N0r0s#t!;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>